
<div id="wrapper">
  <div id="logo_container">
    <div class="pulse_off"><img src="/assets/loginlogo.png">  </div>
    <div id="logo"><img src="/assets/loginlogo.png"></div>
  </div>
</div>
<div  id="login" >
  <fieldset class="form-signin form-horizontal">
    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='Z2o9rjgtJNY6GvBSXHnkka0kZoCw7rOz' /></div>
    <br><h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </fieldset>
</div>