<%= form_for @money_app do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div>
      <%= f.label :time %>
      <%= datetime_local_field(:money_app, :deadline) %>
    </div>

    <div>
      <%= f.label :total_money %>
      <%= f.number_field :total_money %>
    </div>
    <%= f.submit 'submit' %>
<% end %>