<h4><%= @money_app.title %></h4>
<p><%= @money_app.content %></p>
<p><%= @money_app.deadline %></p>
<p><%= @money_app.total_money %></p>

<h4>참여자들</h4>
<% @users.each do |u| %>
    <p><%= u.email %> <%= link_to '끝!', invite_money_done_path, method: :post %></p>
    <!-- 나중에 저 done도 builder만 할 수 있게 바꾸고, done: true이면 채무청산한거 표시해주기 -->
<% end %>
<%= link_to '수정', edit_money_app_path(@money_app) %>
<%= link_to '삭제', money_app_path(@money_app), method: :delete %>
<%= link_to '목록', home_appointments_path %>