<% notifications.each do |n| %>
    <div class="notification row">
      <div class="col-xs-6 col-sm-6">
        <p><%= n.requester.nickname %>님의 초대</p>
        <p><%= raw(n.message) %></p>
      </div>
      <div class="col-xs-6 col-sm-6 noti-button">
        <% case n.type %>
        <% when 'AppNote' %>
          <p class="icons">
            <a href="/infos?notification_id=<%= n.id %>" data-method="post"><i class="fa fa-check-circle" aria-hidden="true"></i></a>
        <% when 'FriendNote' %>
            <%= link_to '수락', '/' %>
        <% else %>
            ...
        <% end %>
          <a href="/notifications/<%= n.id %>" data-method="delete"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
<% end %>