<div class="row" id="notification<%= notification.id %>">
  <div class="notification">
    <div class="col-xs-6 col-sm-6">
      <p><%= notification.requester.nickname %>님의 초대</p>
      <p><%= raw(notification.message) %></p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="noti-buttons">
        <!-- 수락 -->
        <% case notification.type %>
        <% when 'AppNote' %>
            <a class="ok-button" href="/infos?notification_id=<%= notification.id %>" data-remote="true" data-method="post">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </a>
        <% when 'FriendNote' %>
            <%= link_to '수락', '/' %>
        <% else %>
            ...
        <% end %>
        <!-- 거절 -->
        <a href="/notifications/<%= notification.id %>&ajax=true" data-remote="true" data-confirm="거절하시겠습니까?" data-method="delete">
          <i class="fa fa-times-circle" aria-hidden="true">
          </i>
        </a>
      </div>
    </div>
  </div>
</div>