<% notifications.each do |n| %>
<div class="notification">
  <p><%= n.requester.nickname %>님의 초대</p>
  <p><%= raw(n.message) %></p>
  <% case n.type %>
  <% when 'AppNote' %>
      <%= link_to '수락', infos_path(notification_id: n.id), method: :post %>
  <% when 'FriendNote' %>
      <%= link_to '수락', '/' %>
  <% else %>
      ...
  <% end %>
  <%= link_to '거절', notification_path(n), method: :delete %>
</div>
<% end %>