<!--showMyPage 최혁 추가 부분-->

<!--// jQuery UI CSS파일-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"/>
<!--// jQuery 기본 js파일-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--// jQuery UI 라이브러리 js파일-->
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<!-- Custom Fonts -->
<link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--수진 끝-->

<script>
    $(function () {
        $("#testDatepicker").datepicker({});
    });
</script>

<!--수진-->
<style>
  @import url('https://fonts.googleapis.com/css?family=News+Cycle|Quicksand|Rubik');
  @import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

  h4 {
    font-family: 'Nanum Gothic Coding', sans-serif;
  }

  .panel-body {
    font-family: 'Nanum Gothic Coding', sans-serif;
    color: black;
  }

  .myPage-header {
    background-color: #f8f8f8;
  }

  .page-header {
    font-family: 'Rubik', sans-serif;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: #42434a;
    font-size: 50px;
  }
</style>
<!--수진끝-->

<!-- Header -->

<!-- <div class="row">
   <div class="col-lg-12">
       <h1>임시 마이페이지</h1>
     <div class="content">
         <div class="row">-->

<!--
              <h2 class="subs-title text-center">A. 새로운 닥달이를 만드세요</h2></br></div>
              <div class="text-center"> -->
<!-- 약속 생성-->
<!--<form  action="#" method="get">

   <input  type="radio" name="monoey" value="" checked > 돈 닥달
  <input type="radio" name="monoey" value=""  > 시간 닥달
  <input type="radio" name="monoey" value=""  > 의견 닥달        </br> </br>

  <p>닥달이 이름 :<input   placeholder="내 돈 빨리내놔!"   name="promise_name" id="promise_name" type="text"></p>

  <p> 마감시간 : <input style="color: black"   name="promise_time" id="promise_time" type="datetime-local"></p>


  <input style="color: black" name="darkdal" value="닥달이 생성" type="submit">
</form>

</div>
</div> -->

<!--   수진mypage  수정수정수정수정수정수정수정수정수정    -->
<!-- Page Content -->

<article class="container">
  <h3>알림</h3>
  <%= render 'notifications', notifications: @notifications %>
  <%= link_to '약속 하기', new_appointment_path(type: 'MoneyApp') %>
</article>
<div class="myPage-header">


  <article class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          My Page
        </h1>
      </div>
      <% @appointments.each do |app| %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i><%= app.title %></h4>
              </div>
              <div class="panel-body">
                <p>내용: <%= app.content %></p>
                <p>마감일: <%= app.deadline %></p>
                </p>
                <ul class="list-inline intro-social-buttons">
                  <li>
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#detail_app">
                      <span class="network-name">상세보기</span>
                    </button>
                  </li>
                </ul>
                <%= link_to '상세보기(나중에 모달로 appointments/show)', appointment_path(app) %>
              </div>
            </div>
          </div>

          <!-- appointment detail Modal -->
          <div class="modal fade" id="detail_app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">약속 상세보기</h4>
                </div>
                <div class="modal-body">
                  <article>
                    <h3>약속</h3>
                    <% @appointments.each do |app| %>
                        <p><%= link_to "#{app.title}", appointment_path(app) %></p>
                    <% end %>
                    <%= link_to '약속 하기', new_appointment_path(type: 'MoneyApp') %>
                  </article>

                  <article>
                    <h3>알림</h3>
                    <!-- we need rander notifications i will connect all things about notification and appointments so connect on this page plz-->
                    <%= render 'notifications', notifications: @notifications %>
                  </article>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>


    <% end %>
    </div>
  </article>



</div>
<!-- /.row -->

<!--   수진mypage  수정수정수정수정수정수정수정수정수정 끝   -->



<!--<p>---------그리드 활용 공간 시작 부분 1-------------------</p>
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="about-title">
          <h2>B. 생성된 닥달이 내역들</h2>
          </div>
        </br>




          <!--<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-02s">
              그리드 임시.1

          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-04s">
            그리드 임시.2
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-06s">
            그리드 임시.3
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-08s">
            그리드 임시.4
          </div>-->
<!--</div>
</div>
</div>
</section>-->
<!--</br>
  <p>---------기타 활용 공간 시작 부분 2-------------------</p>
    <div id="contact-info">
      <div class="container">
          <div class="contact col-md-6 wow fadeIn delay-08s">
            <div class="col-md-10 col-md-offset-1">
        기 타  활 용  공 간
            </div>
          </div>

      </div>
    </div>-->
<!-- /.container -->

<!--</div>-->
<!-- /.intro-header -->

<%#= render '/layouts/aboutcontact' %>
<!-- layouts에 about과 contact분리함 -->

