
<div id="wrapper">
  <div id="logo_container">
    <div class="pulse_off"><img src="http://dev.mundomediainc.com/design/brendan/projects/Mogenio/images/login_pulse.png" /> </div>
    <div id="logo"><img src="http://dev.mundomediainc.com/design/brendan/projects/Mogenio/images/login_logo.png" /> </div>
  </div>
</div>
<div  id="login" >
  <fieldset class="form-signin form-horizontal">
    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='Z2o9rjgtJNY6GvBSXHnkka0kZoCw7rOz' /></div>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="control-group">
      <label class="control-label" for="username">아이디</label>
      <div class="input-wrap input-block-level">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">비밀번호</label>
      <div class="input-wrap">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
      <div class="actions button1 button controls">
        <%= f.submit "로그인" %>
    </div>
    <div class="control-group center">
      <div class="register"><%= render "devise/shared/links" %></div>
    </div>

<% end %>
  </fieldset>
</div>

