<% case @app_type %>
<% when 'MoneyApp' %>
    <h3>돈 약속</h3>
<% when 'LocationApp' %>
    <h3>장소 약속</h3>
<% end %>

<div class="container">
  <%= form_for(@appointment) do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
      </div>

      <div>
        <%= f.label :deadline %>
        <%= datetime_local_field(:appointment, :deadline) %>
      </div>

      <%= yield f %>

      <%= hidden_field_tag(:app_type, @app_type) %>

      <%= f.submit 'submit' %>
  <% end %>

</div>
