<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <!-- appointments/show.html.erb 파일 스타일링은 appointments.scss 파일만 적용 됨 -->
  <%= stylesheet_link_tag 'bootstrap/bootstrap' %>
  <%= stylesheet_link_tag 'appointments' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<div class="container">
  <section>
    <table class="type04">
      <tr>
        <th scope="row">약속이름</th>
        <td><%= @appointment.title %></td>
      </tr>
      <tr>
        <th scope="row">약속내용</th>
        <td><%= @appointment.content %></td>
      </tr>
      <tr>
        <th scope="row">마감기한</th>
        <td> <%= @appointment.deadline %></td>
      </tr>
      <tr>
           <% if @appointment.app_type == 'LocationApp' %>
            <td>
            <div id="google-map" class="show-map"></div>
              <button onclick="currentLocation()">도착</button>
              <p id="distance-result"></p>
            </td>
          <% end %>
      </tr>
    </table>

    <table class="type041">

          <% if builder?(current_user, @appointment.id) %>

              <%= render 'search_form', appointment: @appointment %>

          <% end %>

      <tr>
        <th colspan="2">참여자들</th>
      </tr>
      <tr>
        <td colspan="2">
        <% @appointment.users.each_with_index do |u, i| %>
              <div class="col-md-3 card">
                    <h3><%= u.nickname %></h3>
                    <!-- 돈(돈약속인 경우에만), 완료여부 -->
                <% if @infos[i].done %>

                    <!-- 완료 -->
                    <% if @appointment.app_type == 'MoneyApp' %>
                            <p class="title"><%= @infos[i].money %>원</p>
                    <% end %>
                        <p><button class="button1"><a class="a">완료됨</a></button></p>

                <% else %>

                    <!-- 미완료 -->
                    <% if @appointment.app_type == 'MoneyApp' %>
                        <p id="money-container<%= @infos[i].id %>">
                          <em id="money<%= @infos[i].id %>"><%= @infos[i].money %>원</em>
                          <% if builder?(current_user, @appointment.id) %>
                              <span class="money-edit" onclick="moneyForm(<%= @infos[i].id %>)">수정</span>
                          <% end %>
                        </p>
                    <% end %>
                        <p><button class="button1">
                          <a id="done-container<%= @infos[i].id %>" class="a">
                          <% if builder?(current_user, @appointment.id) %>
                              <%= link_to "미완료", done_info_path(@infos[i]),
                                          method: :patch,
                                          remote: true,
                                          data: {confirm: '완료 시키겠습니까?'} %>
                          <% else %>
                              미완료
                          <% end %>
                        </a>
                        </button></p>
                <% end %>
                  </div>
          <% end %>
        </td>
      </tr>
    </table>
  </section>
</div>

<% if @appointment.app_type == 'MoneyApp' %>
    <script>
        function moneyForm(index) {
            var money = document.getElementById(id = 'money' + index).textContent;

            document.getElementById('money-container' + index).innerHTML
                = '<form action="/infos/' + index + '/change_money" method="post" data-remote="true">'
                + '<input id="money-edit-field" type="number" min="0" name="money" value="' + parseInt(money) + '">'
                + '<input type="hidden" value="' + '<%= form_authenticity_token %>' + '" name="authenticity_token">'
                + '<input type="submit" value="수정">'
                + '</form>';
        }
    </script>
<% elsif @appointment.app_type == 'LocationApp' %>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['google_map_key'] %>"></script>
    <script>


        var map;
        var appLocation = {lat: <%= @location[0] %>, lng: <%= @location[1] %>};
        var marker;
        var myLocation;

        function initMap() {
            map = new google.maps.Map(document.getElementById('google-map'), {
                zoom: 16,
                center: appLocation,
                mapTypeId: "roadmap",
                scaleControl: true
            });


            // Add a Home control that returns the user to myLocation
            var homeControlDiv = document.createElement('div');
            homeControlDiv.setAttribute("id", "home-control");

            var controlUI = document.createElement("div");
            controlUI.setAttribute("id", "control-ui");
            controlUI.innerHTML = "<b>Home<b>";
            homeControlDiv.appendChild(controlUI);

            // Setup click-event listener: simply set the map to myLocation
            google.maps.event.addDomListener(controlUI, 'click', function () {
                map.setCenter(appLocation)
            });
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);


            // 위치 마커 생성
            marker = new google.maps.Marker({
                position: appLocation,
                map: map
            });
        }

        function currentLocation() {
            myLocation = 0;
            var infoWindow = new google.maps.InfoWindow({map: map});
            var distance;
            var distanceResult = document.getElementById("distance-result");

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    myLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    distance = calDistance(appLocation.lat, appLocation.lng, myLocation.lat, myLocation.lng);
                    if (distance < 150) {
                        distanceResult.innerHTML = '<a href="/infos/<%= get_my_info_id(@appointment.id) %>/done" data-method="patch">도착!</a>';
                    } else {
                        distanceResult.innerHTML = "아직 약속장소 근처가 아닙니다!"
                    }

                    infoWindow.setPosition(myLocation);
                    infoWindow.setContent('Location found.');
                    map.setCenter(myLocation);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

        function calDistance(lat1, lon1, lat2, lon2) {
            var earth, rad, radLat1, radLat2, radDist;
            var distance, ret;
            earth = 6371000.0;
            rad = Math.PI / 180;
            radLat1 = rad * lat1;
            radLat2 = rad * lat2;
            radDist = rad * (lon1 - lon2);

            distance = Math.sin(radLat1) * Math.sin(radLat2);
            distance = distance + Math.cos(radLat1) * Math.cos(radLat2) * Math.cos(radDist);
            ret = earth * Math.acos(distance);

            return ret;
        }


        //            google.maps.event.addDomListener(window, 'load', initMap);
        //            google.maps.event.addDomListener(window, 'page:load', initMap);
        if (window.google) {
            initMap();
        } else {
            $.ajax('https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap', {
                crossDomain: true,
                dataType: 'script'
            });
        }
    </script>
<% end %>
</body>
</html>