<%= form_for @location_app do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div>
      <%= f.label :time %>
      <%= datetime_local_field(:location_app, :deadline) %>
    </div>

    <div>
      <%= f.label :location %>
    </div>
<% end %>