<!DOCTYPE html>
<html>
<head>
  <title>DarkDari</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      padding-top: 150px;
    }
  </style>
  
  <link rel="stylesheet" type="text/css" href="/assets/jquery.datetimepicker.css" >
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
</head>

<body>
  
<nav class="navbar navbar-default navbar-fixed-top topnav navigation" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        navbar
      </button>
      <a class="navbar-brand topnav" href="/"><img src="/logo.png" , style="width:180px; height:130px; padding-top: 10px;" ,alt="로고"></a>

      <!--<div class="main-textlogo">
        <h1>
          <span><%= image_tag 'charecterup.png', class: 'logoimg1'%></span>
        </h1>
      </div>-->
    </div>
    <ul class="nav navbar-nav navbar-right menu">
      <li class="menu__item">
          <a href="/#about" class="menu__link">
              <span class="menu__title">
                  <span class="menu__first-word" data-hover="About">
                      About
                  </span>
                  <span class="menu__second-word" data-hover="Us">
                      Us
                  </span>
              </span>
          </a>
      </li>
      <li class="menu__item">
          <a href="/home/show_my_page" class="menu__link">
              <span class="menu__title">
                  <span class="menu__first-word" data-hover="My">
                      My
                  </span>
                  <span class="menu__second-word" data-hover="Page">
                      Page
                  </span>
              </span>
          </a>
      </li>
      
      <% if current_user %>
        <li class="menu__item">
          <%= link_to "#{current_user.nickname}", edit_user_registration_path, class: 'menu__link' %>
        </li>
        <li class="menu__item">
          <a href="/users/sign_out" data-method="delete" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Sign">
                  Sign
              </span>
              <span class="menu__second-word" data-hover="Out">
                  Out
              </span>
            </span>
          </a>
          <%#= link_to 'SignOut', destroy_user_session_path, method: :delete, class: 'menu__item page-menu' %>
        </li>
      <% else %>
        <li class="menu__item">
          <a href="/users/sign_in" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Sign">
                  Sign
              </span>
              <span class="menu__second-word" data-hover="In">
                  In
              </span>
            </span>
          </a>
          <%#= link_to 'SignIn', new_user_session_path, class: 'menu__item page-menu' %>
        </li>
      <% end %>
    </ul>
</nav>



<%= yield %>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
        <ul class="list-inline">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="https://github.com/minD3D/DarkDari">Github</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li class="footer-menu-divider">
            <a href="#">Gmail</a>
          </li>
        </ul>
        </div>
        <p class="copyright text-muted small">Copyright &copy; Team DakDal. All Rights Reserved</p>
        <p class="copyright text-muted small">Likelion_5th Inha Univ </p>
        <p class="copyright text-muted small" style="float: right">2017_Dakkdari</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>